META-INF/
WEB-INF/classes/
WEB-INF/lib/
ajaxslt/
build/
.settings/
*.DS_Store
*.MF
*.OLD
*.SAVE
*.UGH
*.before*
*.class
*.classpath
*.component
*.container
*.exadel
*.j*
!*.java
!*.js
!*.jsp
*.launch
*.mex
*.my*
*.name
*.old*
*.pex
*.prefs
*.prev*
*.project
*.repository
*.sample
*.save
*.tld
*.txt
*.ucd
*.uml*
*.war

